body {
  min-height: 100vh;
  background: url('https://images0.persgroep.net/rcs/sfVvnLvdYz_EoGvqEfrWKPJ7m68/diocontent/176272520/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.8');
  background-size: cover;
  background-position: center;
}
